
body {
    overflow-x: hidden;
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

#color1 {
    margin: 30px 0px;
    padding: 30px 0px;
    font-size: 40px;
    text-align: inherit;

}
.shopping-cart { 
    float: right;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

.shopping-cart .badge {
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 4px 8px;
    
    
    color: white;
  }

#count, #countOnModal {
    pointer-events:none;
}

header h1 {
    font-weight: 700;
    font-family: Helvetica;
}

.fa-shopping-cart {
    float: right;
    font-size: 2em;
}



.badge.badge-pill {
    font-size:13px;
    
}

.sign, .price  {
    color: #D05567;
    font-size: 30px;
    font-weight: 700;
}

.grey {
    color: lightgray;
    
}

.bold {
    font-weight: 700
}



.detail {
    font-size: small;
    font-weight: 700;
}



.btn-circle.btn-sm { 
    width: 36px; 
    height: 36px; 
    padding: 6px 0px; 
    border-radius: 18px; 
    margin: 10px 5px;
    font-size: 8px; 
    text-align: center;
} 

.add-btn.btn-md { 
    width: 400px; 
    height: 60px; 
    padding: 6px 0px; 
    border-radius: 30px; 
    font-size: 100%; 
    text-align: center; 
    font-weight: 700;
    
    
}

.qty.btn-md {
    width: 80px; 
    height: 60px; 
    padding: 6px 0px; 
    margin: 10px;
    border-radius: 30px; 
    text-align: center; 
    font-weight: 700; 
    text-align: center;
}


/*<--! button colors -->*/

.btn.btn-purple {
    background-color: #6327F4;
}

.btn.btn-black {
    background-color: black;
}

.btn.btn-orange {
    background-color: #EF8130;
}

.btn.btn-yellow {
    background-color: #FDF34F;
}

.btn.btn-blue {
    background-color: #1D53AE;
}

.btn.btn-navy {
    background-color: #285A7B;
}

.btn.btn-light-brown {
    background-color:#DAB595;
}

.btn.btn-light-blue {
    background-color: #53BFF8;
}

.btn.btn-light-green {
    background-color: #90FA4D;
}

.btn.btn-pink {
    background-color: #EA37B3;
}

.btn.btn-green {
    background-color: #418D65;
}

.btn.btn-grey {
    background-color: #6F6975;
}

.btn.btn-brown {
    background-color: #6E502B;
}

.btn.btn-aqua {
    background-color: #69DAD1;
}

.btn.btn-light-grey {
    background-color: #C4C4C4;
}

/*<--! modal styles -->*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .modal-btn {
      float: right;
  }
  
  .detail:hover,
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .fas.fa-shopping-cart:hover {
    cursor: pointer;
  }

  /*Button in the modal*/
  button .fas{
      font-size: 4em;
      color: white;
  }

  .btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 0px 0px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center;
    background-color: black; 
}

.btn-circle-no.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 0px 0px; 
    border-radius: 35px; 
    font-size: 300%; 
    text-align: center;
    background-color: white;
}

#page-wrap {
    position: relative;
    z-index: 2;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    height: 100%;}

@media only screen and (max-width: 600px) {
    #page-wrap {}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #page-wrap {}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #page-wrap { height:1900px; width:100%; }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #page-wrap {height: 100%; width: 60%;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    #page-wrap { height: 100%; width: 50%;}
  }